@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #F8FAFC;
  color: #0F172A;
}

body {
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #0B25B7;
  border-radius: 5px;
  border: 2px solid #F1F5F9;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}